<html>
  <head>
    <title>About</title>
    <link rel="icon" href="./img/icon.png">
    <link rel="stylesheet" href="./CSS/styles.css" />
  </head>

  <body>
    <div class="main-content ">
 {{>header}}
 <p>This site was created by Burhanuddin Savliwala. It uses data from weatherstack and mapbox </p>
    <img src="./img/venom.jpg" class="portrait" />
    </div>
    {{>footer}}
  </body>
</html>