<html>
  <head>
    <link rel="icon" href="./img/icon.png">
    <link rel="stylesheet" href="./CSS/styles.css" />
  </head>
  <body>
   <div class="main-content">
 {{>header}}
    <h2>{{msg}}</h2>
    
   </div>
    {{>footer}} 
  </body>
</html>